{% extends 'base.html' %}

{% block title %}Upload a File{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h4 id="heading">Upload a File</h4>
    <form method="POST" enctype="multipart/form-data" id="upload-form">
      <div>
        {% csrf_token %}
        <div class="form-group">
          <label for="file">Select a file:</label>
          <input type="file" name="file" id="file">
        <input type="radio" id="a" name="option" value="falstar" checked="true"> FalStar<br>
        <button type="submit" class="btn btn-primary" id="submit-btn">Upload</button>
      </div>
      <h5> Or </h5>
    </div>
    </form>
    <div id="find-uuid-div">
      Enter a Uuid
      <input type="input" id="uuid-input" name="uuid" placeholder="UUID">
      <button class="btn btn-primary" id="find">Find</button>
    </div>
    
    <div class="mt-3" id="status-section">

      <div class="d-none text-danger" id="error-msg"><i class="fa fa-exclamation-circle"></i> 
        <text id="error-msg-text">UUID doesn't exist or there was an error, please try again...</text>
      </div>

      <div id="processing-msg" class="d-none">
      <i class="fas fa-cog fa-spin"></i>  File is being processed, please wait...
      </div>


      <div id="success-msg" class="d-none">
        <text class="text-success">File processed successfully!</text>
        <div>
          <ul id="file-list"></ul>
        </div>

      </div>

    </div>
    
  </div>
  
  <script>
    const submitBtn = document.getElementById('submit-btn');
    const statusSection = document.getElementById('status-section');
    const processingMsg = document.getElementById('processing-msg');
    const errorMsg = document.getElementById('error-msg');
    const successMsg = document.getElementById('success-msg');
    const form = document.getElementById('upload-form');
    const fileInput = document.getElementById('file');
    const fileList = document.getElementById('file-list');
    const find = document.getElementById('find');
    const uuidInput = document.getElementById('uuid-input');
    const findUuidDiv = document.getElementById('find-uuid-div');
    const subtitle = document.getElementById('heading');
    const errorMsgText = document.getElementById('error-msg-text');
    let jobId = null;

    function validateForm() {
      var options = document.getElementsByName('option');
      var valid = false;
      for (var i = 0; i < options.length; i++) {
        if (options[i].checked) {
          valid = true;
          break;
        }
      }
      if (!valid) {
        alert("Please select an option.");
        return false;
      }

      if (fileInput.files.length == 0){
        alert("Please upload a file.");
        return false;
      }

      if (fileInput.files[0].type != "text/csv") {
        alert("CSV files only!");
        return false;
      }

      return true;
    }

    form.addEventListener('submit', (event) => {
      event.preventDefault();
      submitBtn.disabled = true;
      if(!validateForm()){
        submitBtn.disabled = false;
        return
      }
      processingMsg.classList.remove('d-none');
      form.classList.add('d-none');
      findUuidDiv.classList.add('d-none');
      errorMsg.classList.add('d-none');
      const formData = new FormData(event.target);
      fetch(event.target.action, {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        jobId = data.job_id;
        subtitle.textContent = "UUID: "+jobId;
        fileInput.value = null;
        intervalId = setInterval(checkJobStatus, 5000);
        checkJobStatus();
      });
    });

    find.addEventListener("click", findUuid);
    function findUuid() {
      if(!uuidInput.value.trim()){
        alert("Please enter a UUID!");
        return 
      }
      if(uuidInput.value.length != 32){
        alert("Invalid UUID please try again!");
        return 
      }
      jobId = uuidInput.value;
      intervalId = setInterval(checkJobStatus, 5000);
      checkJobStatus();
    }

    function checkJobStatus() {
      fetch(`api/status/${jobId}`)
      .then(response => response.json())
      .then(data => {
        subtitle.textContent = "UUID: "+jobId;;
        if (data.status === 'pending') {
          // Check every 5 seconds
        } else if (data.status === 'success') {
          form.classList.add('d-none');
          findUuidDiv.classList.remove('d-none');
          processingMsg.classList.add('d-none');
          successMsg.classList.remove('d-none');
          errorMsg.classList.add('d-none');
          uuidInput.value = jobId;
          clearInterval(intervalId);
          fileList.textContent = '';
          data.files.forEach(file => {
            const li = document.createElement('li');
            const link = document.createElement('a');
            link.href = file.url;
            link.textContent = file.name;
            li.appendChild(link);
            fileList.appendChild(li);
          });

          submitBtn.disabled = false;
        } else if (data.error || data.status == "failed") {
          form.classList.add('d-none');
          findUuidDiv.classList.remove('d-none');
          successMsg.classList.add('d-none');
          processingMsg.classList.add('d-none');
          if (data.status == "failed"){
            subtitle.textContent = "Upload a File"
            form.classList.remove('d-none');
            errorMsgText.textContent = "File processing error, please try uploading the file again..."
          }
          errorMsg.classList.remove('d-none');
          clearInterval(intervalId);
        } else {
          findUuidDiv.classList.remove('d-none');
          uuidDiv.classList.add('d-none');
          processingMsg.classList.add('d-none');
          successMsg.classList.add('d-none');
          errorMsg.classList.remove('d-none');
          clearInterval(intervalId);
          submitBtn.disabled = false;
        }
      });
    }
  </script>
{% endblock %}
